{% extends 'base.html.twig' %}

{% block body %}
    <h2>Menu</h2>
    <div class="list-group">
        <a href="{{ path('developer_index') }}" class="list-group-item">Developers</a>
        <a href="{{ path('game_index') }}" class="list-group-item">Games</a>
    </div>
{% endblock %}
