{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}
{% block body %}
    <form>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" aria-describedby="textHelp"placeholder="Some text"/>
            <small id="textHelp" class="form-text text-muted">Write text to check first no-duplicate character</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if result %}
        {{ result }}
    {% endif %}
{% endblock %}