{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="wrapper">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
            <h2 class="form-signin-heading">Registration</h2>
            {{ form_widget(form) }}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default pull-left">Back to login</a>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}
